{{#each posts}}
  <div class="card py-2">
    <div class="card-header">
      posted by
      {{user.username}}
      on
      {{format_date date_created}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{post_body}}</p>

      <!-- Display comments -->
      <div class="comments">
        <h6>Comments:</h6>
        {{#each comments}}
          <p>{{this.comment_body}} - {{this.user.username}}</p>
        {{/each}}
      </div>

      <!-- Link to add a comment -->
      <a href="/comment/{{id}}" class="btn btn-primary">Add Comment</a>
    </div>
  </div>
{{/each}}